<div class="form" id="add-dish">

    <h1>Add Dish</h1>

    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" class="title"/>
    </div>

    <div>
        <label for="description" >Description:</label>
        <textarea id="description" row="15"></textarea>
    </div>

    <div>
        <label for="thumbnail" >req*Thumbnail(120x56):</label>
        <input type=file id="thumbnail"/>
    </div>

    <div>
        <label for="foreground" >req*Foreground(500x234):</label>
        <input type=file id="foreground"/>
    </div>


    <div id="buttons">
        <a href="#"><button id="addDishButton"><i class="fa fa-pencil fa-fw"></i>Add Dish</button></a>
        <a href="#/home/"><button>Cancel</button></a>
    </div>
</div>