<div class="form" id="edit-info-content" data-id="{{objectId}}">

    <h1>Edit Info Content</h1>

    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" class="title" value="{{title}}"/>
    </div>

    <div>
        <label for="description" >Description:</label>
        <textarea id="description" row="15">{{description}}</textarea>
    </div>

    <div>
        <a href="#" data-id="{{objectId}}"><button id="editInfoContentButton"><i class="fa fa-pencil fa-fw"></i>Edit Info Content</button></a>
        <a href="#/home/"><button>Cancel</button></a>
    </div>
</div>






